

@font-face {
    src: url(fonts/Avenir\ Next.ttc);
    font-family: avenir light;
}

body {
    background-color: rgb(223, 237, 242);
}

.container{
    margin-left: 0%;
}

*{
    margin:0;
    padding:0;
    }

.side-nav {
    display: inline-block;
    position: relative;
    justify-content: space-between;
    background-color: rgb(164, 181, 191);
    

}


.logo{
    display: absolute;
    margin-left: -20px;
}

.logo-img{
    width: 25%;
    display: inline;
    float: left;
} 

.toggle-button{
    /* position: absolute; */
    /* top: 35%; */
    /* right: -15%; */
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: space-between;
    width: 15%;
    margin-right: 5%;
    margin-top: 5%;
    display: inline;
    float: right;
}

.nav-links {
    /* position: relative; */
    display: none;
    list-style-type: none;
    font-family: avenir;
    font-size: 35px;
    line-height: 10px;
    margin-top: 20%;
    margin-left: -15%;

}

.nav-links ul {
    width: 100%;
    display: block;
    flex-direction: column;
    margin-left: -50%;
}

.nav-links.active{
    display:block;
    padding-bottom: 5%;
}

.nav-links li {
    flex-direction: column;
    padding: 30px;
    text-align: center;
    margin-left: 15%;
}

.nav-links li a{
    color: rgb(40, 55, 64);
    text-decoration: none;
}

.nav-links li a:hover{
    color: rgb(242, 100, 87);
}

.brand-name{
    width: 50%;
    margin-left: 50%;
    margin-top: 30%;
}

hr{
    height: 5px;
    /* border-width: 5px; */
    background-color: rgb(40, 55, 64)
}

/* .piece-1{
    margin-top: 0%;
    margin-left: 20%;
}

.piece-2{
    margin-top: 0%;
    margin-left: 20%;
} */


.headspace{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10%;

}

.clarinet-poster{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
}

.font-book-cover{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
}

@media only screen and (min-width: 1000px) {
    

    .side-nav {
        width: 15%;
        height: 100%;
        background-color: rgb(164, 181, 191);
        position: fixed;
        top: 0;
        left: 0;
        padding: 20px;
    }

    .nav-links {
            position: absolute;
            list-style-type: none;
            /* margin-left: 10%; */
            line-height: 10px;
            font-family: avenir;
            font-size: 35px;
            display: block;
    }

    .toggle-button{
        display: none;
    }

    .brand-name{
            width: 40%;
            margin-left: 55%;
            margin-top: 20%;
    }

    .logo{
            display: block;
            margin-left: -20px;
    }
        
    .logo-img{
            width: 100%;
    }

    .nav-links {
        position: absolute;
        list-style-type: none;
        /* margin-left: 10%; */
        line-height: 10px;
        font-family: avenir;
        font-size: 35px;
        display: block;
        margin-top: 90%;
}

.nav-links ul {
    width: 100%;
    
    flex-direction: column;
    margin-left: -50%;
    }
        
    .nav-links li {
            padding: 10px;
            margin-left: 30px;   
    }
        
    .nav-links li a{
            color: rgb(40, 55, 64);
            text-decoration: none;
    }

    .nav-links li a:hover{
            color: rgb(242, 100, 87);
    }

    .brand-name{
        width: 50%;
        margin-left: 50%;
        margin-top: 20%;
    }
    
    hr{
        height: 5px;
        /* border-width: 5px; */
        background-color: rgb(40, 55, 64)
    }

    .container{
            margin-left: 15%;
            display: grid;
            grid-gap: 3px;
            grid-template-columns: 2fr, 1fr;
            grid-template-rows: 10% 80% 10%;
            grid-template-areas: 
            "h c"
            "f c";
    }
    .headspace{
            width: 80%;
            margin-left: 10%;
            padding-left: 5%;
            padding-right: 5%;
            margin-top: 10%;
            grid-area: h
        
        }
        
    .clarinet-poster{
        width: 80%;
        margin-left: 10%;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 5%;
        grid-area: c;
    }

    .font-book-cover{
        width: 80%;
        margin-left: 10%;
        padding-left: 5%;
        padding-right: 5%;
        margin-top: 60%;
        grid-area: f;
    }

}


     
